<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meus Exames - Biodente</title>

    <link rel="stylesheet" href="../paciente.css" />
    <link rel="stylesheet" href="../paciente-telas.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <header class="navbar">
      <div class="nav-logo">
        <img
          src="../static/Biodente_dark-icon.png"
          alt="Logo Biodente"
          class="logo-icon"
        />
        <h1>Biodente</h1>
      </div>
      <ul class="nav-menu">
        <li><a href="./paciente.html">Início</a></li>
        <li><a href="./agendamentos.html">Meus Agendamentos</a></li>
        <li><a href="./exames.html" class="active">Meus Exames</a></li>
        <li><a href="./perfil.html">Meu Perfil</a></li>
      </ul>
      <div class="nav-user">
        <a href="../index.html" class="btn-sair"
          ><i class="fas fa-sign-out-alt"></i> Sair</a
        >
      </div>
    </header>

    <main class="patient-container">
      <h2 style="font-size: 1.8rem; margin-bottom: 25px">Meus Exames</h2>

      <div class="exam-grid">
        <div class="exam-card">
          <div class="icon"><i class="fas fa-x-ray"></i></div>
          <h4>Radiografia Panorâmica</h4>
          <span class="date">Enviado em: 10/10/2025</span>
          <div class="exam-actions">
            <a
              href="../static/laudo_panoramico_ficticio.pdf"
              class="btn btn-download"
              ><i class="fas fa-download"></i> Baixar PDF</a
            >
            <a href="../static/raio-x_panoramico.jpeg" class="btn btn-view"
              ><i class="fas fa-eye"></i> Ver Imagem</a
            >
          </div>
        </div>

        <div class="exam-card">
          <div class="icon"><i class="fas fa-file-invoice"></i></div>
          <h4>Orçamento (Implante)</h4>
          <span class="date">Enviado em: 05/11/2025</span>
          <div class="exam-actions">
            <a
              href="../static/orcamento_implantes_jadir.pdf"
              class="btn btn-download"
              ><i class="fas fa-download"></i> Baixar PDF</a
            >
          </div>
        </div>

        <div class="exam-card">
          <div class="icon"><i class="fas fa-file-medical"></i></div>
          <h4>Exames de Sangue (Pré-Cirurgia)</h4>
          <span class="date">Enviado em: 02/10/2025</span>
          <div class="exam-actions">
            <a
              href="../static/hemograma_pre_cirurgico_jadir.pdf"
              class="btn btn-download"
              ><i class="fas fa-download"></i> Baixar PDF</a
            >
          </div>
        </div>
      </div>
    </main>
    <footer class="site-footer">
      <div class="footer-logo">
        <img src="../static/Biodente_dark-icon.png" alt="Ícone Biodente" />
        <span>Biodente</span>
      </div>
      <p>&copy; 2025 Biodente. Todos os direitos reservados.</p>
      <div class="footer-links">
        <a href="perfil.html">Meu Perfil</a>
        <a href="#">Termos de Uso</a>
        <a href="#">Política de Privacidade</a>
      </div>
    </footer>
    
    <div vw class="enabled">
      <div vw-access-button class="active"></div>
      <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
      </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
      new window.VLibras.Widget("https://vlibras.gov.br/app");
    </script>
  </body>
</html>
